.Question {
  width: 40vw;
}

.question__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__paragraph {
  margin-bottom: 2rem;
}

.question__gif-container {
  width: 50vw;
  height: 40vh;
}

.question__giphy-embed {
  pointer-events: none;
  width: 100%;
  height: 30vh;
}

.question__alternatives-container {
  position: absolute;
  bottom: 10vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question__alternatives-top,
.question__alternatives-bottom {
  display: flex;
  justify-content: center;
}