* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color:#131313;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 1rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFF;
  line-height: 1.3;
}

a {
  font-size: 0.5em;
  font-weight: 700;
  font-style: normal;
  color: #f9e071;
  font-family: 'Vollkorn', serif;
}

button {
  display: flex;
  justify-content: center;
  min-width: 14rem;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-family: 'Vollkorn', serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  transition: .2s;
}

button:hover {
  background: #f9e071;
}

button:focus {
  outline: none;
}